{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}


<div id="layout">
    <div id="layout-container">
        {% if page.banner_top %}
            {{ page.banner_top }}
        {% endif %}
        {% if is_front %}
            <div class="bg-header-footer position-absolute"></div>
        {% endif %}
        <section class="container-fluid no-padding d-flex flex-column {{ is_front ? 'portal-home' : 'portal-default ' ~ random(['snp-bg-texture-default', 'snp-bg-texture-default2', 'snp-bg-texture-default3']) }}">
            
            <header class="layout-header">
                
                <div class="wrapper-header">
                    
                    <nav class="navbar">
                        
                        <div class="container-fluid no-padding d-block">
                            
                            <div class="justify-content-between d-flex">
                                <span class="btn btn-link app-menu__btn-open-menu sidr-trigger js-sidr-trigger">
                                    <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
                                </span>
                                {% if page.pre_header is not empty %}
                                    <div class="logo-container">
                                        {{ page.pre_header }}
                                    </div>
                                {% endif %}
                                
                                {% if page.header|render|striptags|trim is not empty %}
                                    {{ page.header }}
                                {% endif %}
                                
                                <div class="app-menu__main">
                                    {% if page.post_header %}
                                        {{ page.post_header }}
                                    {% endif %}
                                </div>
                            </div>
                        
                        </div>
                    
                    </nav>
                
                </div>
            
            </header>
            
            
            <main class="layout-content">
                <section class="container">
                    <h1 class="d-none">Estado Plurinacional de Bolivia /Servicio Nacional de Propiedad Intelectual</h1>
                    {% if not is_front %}
                        {% if page.tabs %}
                            {{ page.tabs }}
                        {% endif %}
                        {% if page.page_title %}
                            {{ page.page_title }}
                            {{ page.breadcrumbs }}
                        {% endif %}
                        {% if page.content %}
                            {{ page.content }}
                        {% endif %}
                        {% if page.content_bottom %}
                            {{ page.content_bottom }}
                        {% endif %}
                     {% else %}
                        
                        {#<div class="modal show fade bd-example-modal-xl"  id="myModal" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="position-absolute">
                                    <div class="position-fixed btn-group-vertical">
                                     <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                     </button>
                                    </div>
                                </div>
                              <img src="themes/contrib/senapi_uiv0/assets/images/images/pasantiaTrabajoDirigido.jpg" class="img-fluid">
                            </div>
                          </div>
                        </div>#}
                    {% endif %}
                </section>
            </main>
            
            <footer class="layout-footer">
                <div class="wrapper-footer">
                    {% if is_front %}
                        <div class="bg-header-footer position-absolute"></div>
                    {% endif %}
                    <div class="container-fluid">
                        <div class="justify-content-between d-flex">
                            {% if page.pre_footer %}
                                {{ page.pre_footer }}
                            {% endif %}
                            {% if page.footer %}
                                {{ page.footer }}
                            {% endif %}
                            {% if page.post_footer %}
                                {{ page.post_footer }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </footer>
            
        </section>
    </div>
</div>
{% include '@senapi_uiv0/modal.html.twig' %}
{% include '@senapi_uiv0/scrollup.html.twig' %}