{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% if attributes.hasClass('button') and not attributes.hasClass('field-add-more-submit') %}
    <input{{ attributes.addClass('btn btn-primary') }}/>
{% elseif attributes.hasClass('form-radio') %}
    <input{{ attributes }}/>
{% else %}
    <input{{ attributes.addClass('form-control') }}/>
{% endif %}
{{ children }}