//
// Customize bootstrap variables to match
// look and feel of the theme
//-----------------------------------------------------



$primary: $primary-color;

//Options global
$enable-responsive-font-sizes: true;

// Customize typographic styles
$link-color: $primary-color;
$headings-font-weight: bold;
$font-family-sans-serif: $body-font;
$font-family-base: $font-family-sans-serif;
//$font-size-base: 0.875rem;
$font-size-base: 0.900rem;
$font-weight-base: 300;

// Customize Dropdown styles
$dropdown-padding-y: 0;
$dropdown-spacer: 0;
$dropdown-border-width: 0;
$dropdown-item-padding-y: 8px;
$dropdown-item-padding-x: 20px;

// Customize button styles
$btn-border-radius: 3px;
$btn-border-radius-lg: 3px;
$btn-border-radius-sm: 3px;
$btn-font-weight: 700;
$btn-transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

// Custmize form component styles

$input-border-radius: 4px;
$input-border-radius-lg: 4px;
$input-border-radius-sm: 4px;
$input-focus-border-color: $primary-color;
$input-btn-border-width: 2px;
$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;

// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;


//grid column
//$grid-gutter-width: 10px !default;
$grid-gutter-width: 10px !default;

// Spacing
$spacer: 0.7rem !default;
$form-text-margin-top: 0.0rem !default;

// Grid containers
$container-max-widths: (
  sm: 540px,
  md: 750px, //720
  lg: 970px, //960
  xl: 1170px //1140
);

//cards
$card-border-color: #ebeef5!default;

// Breadcrumbs
$breadcrumb-padding-y:              .50rem !default;
$breadcrumb-padding-x:              0 !default;
$breadcrumb-item-padding:           .5rem !default;

$breadcrumb-margin-bottom:          .50rem !default
$breadcrumb-bg:                    transparent !default;
$breadcrumb-divider-color:          rgba(255, 255, 255, 0.85) !default;
//$breadcrumb-active-color:           $gray-600 !default;
$breadcrumb-divider:                quote("/") !default;

$breadcrumb-border-radius:          0rem !default;

// Links
//
// Style anchor elements.

$link-color:                              lighten($primary-color, 25%);