@mixin snp-color($color, $name) {
  .#{$name} {
    color: $color;

    a {
      color: $color;
    }
  }
}

@mixin snp-bg-collapse($color, $name, $color-first: false, $color-second: false) {
  .#{$name} {
    .card-accordion {
      background-color: $color;
    }

    .block-title {
      @if $color-first {
        .snp-title-first {
          color: $color-first;
        }
      }

      @if $color-second {
        .snp-title-second {
            color: $color-second;
        }
      }
    }
  }
}

@mixin snp-bg-page($url-texture, $name) {
  .#{$name} {
    .portal-default {
        background: transparent url($url-texture) no-repeat!important;
        background-size: cover;
    }
  }
}


