.row {
  &.no-padding {
    margin-right: 0;
    margin-left: 0;
     > .col,
     > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}
.container-fluid {
  &.no-padding {
    padding-right: 0;
    padding-left: 0;
  }
}


.modal-full {
  max-width: 99.9%;
}
