//
// Website Variables
//-----------------------------------------------------

// Primary font
$body-font: "Sansation", -apple-system, BlinkMacSystemFont, "Georgia", Roboto, "Helvetica Neue", Arial, sans-serif;
//
// Theme Colors
//

$white: #fff;

// Primary color is the main color of the application which is used
// for navbar, active links and primary button.

// ------ Primary Colors from google material design color palette ------
// Blue  : #2196F3
// Teal  : #009688
// Green : #4CAF50
// Brown : #795548
// Purple: #673AB7

//$primary-color: #3F3D31;
$primary-color: #2d2d2d;
$secundary-color: #da1133;

// Complementry color is used to indecate the loading bar on the top
// of the page with pace.js plugin
$complementry-color: adjust_hue($primary-color, 180);


// drupal 8
$primary-shade: #6c757d;
$primary-light: lighten($primary-shade, 37%);
$primary-dark: darken($primary-shade, 12%);

$accent-shade: $primary-color;
$accent-light: lighten($accent-shade, 37%);
$accent-dark: darken($accent-shade, 12%);

//superfish
$menu-border: "#{$asset-root}/images/mainmenu-border.png";
$menu-active: "#{$asset-root}/images/mainmenu-active.png";
