/* Color del tema */
$--color-primary: #6d5cae;
$--color-success: #10cfbd;
$--color-warning: #f8d053;
$--color-danger: #f55753;
$--color-info: #48b0f7;

$primary: $--color-primary;
$success: $--color-success;
$warning: $--color-warning;
$danger: $--color-danger;
$info: $--color-info;

//$font-path: 'element-ui/lib/theme-chalk/fonts';

$colorMenu: #eeeeee;
$colorHover: #ffffff;
$height: 50px;

$asset-root: "../assets";