body {
  background-color: #e1e1e1;
  font-family: 'Sansation';
}

.logo-front-style, .text-front-style {
  display: none!important;
}

.path-frontpage {
  #layout {
    height: 100vh;
  }

  #layout-container {
    height: 100%;
  }
  .bg-header-footer {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 50px;
    z-index: -1;
  }
  .layout-header {
    .logo-container {
      padding: 8px;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 5px;
    }
  }
  .logo-front-style, .text-front-style {
    display: block!important;
  }
}

#layout {
  min-height: 100vh;
}

#layout-container {
  min-height: 100%;
}

.layout-header {
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 0 20px;
}

.layout-content {
  padding-top: 0;
  padding-bottom: 4em;

  .wrapper-region-tabs {
    position: relative;

    .region-tabs {
      position: absolute;
      right: 0;
      top: 107px;

      nav {
        background-color: rgba(255, 255, 255, 0.85);

        &.tabs {
          position: fixed;

          .tabs {
            > li {
              margin: 0;
              display: inherit;
            }
          }
        }
      }
    }
  }

  .wrapper-region-page_title {
    padding-top: 25px;
    .page-title {
      padding: 10px 0 15px;
    }
  }

  .wrapper-region-content {
    background-color: hsla(0, 0%, 100%, .85);
    border-top: 2px solid #fff;
    font-size: 1.1rem;
    line-height: 1.6rem;
  }

  .wrapper-region-content_bottom {
    background-color: hsla(0, 0%, 100%, .85);
  }
}

.btn-social {
  border-width: 0;
  padding: 0;
  box-shadow: inset 0 0 1px 1px darken(#fff, 60%);
  color: #fff;
  font-size: 20px;
  opacity: .7;

  &:hover {
    opacity: 1;
    color: #fff;
  }
}

/*servicio digital*/

.logo {
  margin: 0;
}

.bg-blue {
  background: transparent url(#{$asset-root}/images/resources/bg-blue.svg) no-repeat;
  background-size: cover;
}

.bg-green {
  background: transparent url(#{$asset-root}/images/resources/bg-green.svg) no-repeat;
  background-size: cover;
}

.bg-red {
  background: transparent url(#{$asset-root}/images/resources/bg-red.svg) no-repeat;
  background-size: cover;
}

.bg-yellow {
  background: transparent url(#{$asset-root}/images/resources/bg-yellow.svg) no-repeat;
  background-size: cover;
}



.breadcrumb {
  border-top: 1px solid #fff;
  color: #fff;
  font-size: .60rem;
  text-transform: uppercase;
  a {
    color: rgba(255, 255, 255, 0.85);
  }
}

/* list views */
.view-prensa-block,
.view-boletin-block,
.view-transferencia-block,
.view-memoria-block,
.view-revista-block {
  .card {
    overflow: hidden;
    .img-fluid {
      transition: opacity .5s,transform .5s,-webkit-transform .5s;
    }
    &:hover {

      img, .header-abs {
        opacity: .6;
        transform: scale(1.1);

      }
    }
  }

  .item-header {

  }

  .item-image {
    img {
      margin: 0 auto;
    }
  }

  .item-title {

  }

  .header-abs {
    position: absolute;
    background-color: hsla(0, 0%, 100%, .5);
    padding: 10px 12px;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
  }

  .title-abs {
    position: absolute;
    bottom: 0;
    padding: 25px 15px 12px;
    background: linear-gradient(0, #000, transparent);
    width: 100%;

    a {
      color: #eee;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}

//gridstack
.gridstack--enabled {
  .box__content {
    left: 0.5px;
    right: 0.5px;
  }

  .box {
    height: 100%;
  }

  .media--ratio {
    padding-bottom: 0 !important;
  }
}


//button operations
.js .dropbutton-widget {
  border-width: 0;
}

.user-logged-in {
 .dropbutton-widget {
    border-width: 1px;
  }
}



//background color
.snp-bg-texture-default3 {
   background: transparent url(#{$asset-root}/images/texture/snp-bg-default3.png) no-repeat!important;
  background-size: cover;
}

.snp-bg-texture-default2 {
   background: transparent url(#{$asset-root}/images/texture/snp-bg-default2.png) no-repeat!important;
  background-size: cover;
}

.snp-bg-texture-default {
  background: transparent url(#{$asset-root}/images/texture/snp-bg-default.png) no-repeat!important;
  background-size: cover;
}
.snp-bg-default {
  .portal-default {
    background: transparent url(#{$asset-root}/images/texture/snp-bg-default.png) no-repeat!important;
    background-size: cover;
  }
}
.snp-bg-dda {
  .portal-default {
    background: transparent url(#{$asset-root}/images/texture/snp-bg-dda.png) no-repeat!important;
    background-size: cover;
  }
}
.snp-text-dpi {
  .portal-default {
    background: transparent url(#{$asset-root}/images/texture/snp-bg-dpi.png) no-repeat!important;
    background-size: cover;
  }
}
.snp-bg-patente {
  .portal-default {
    background: transparent url(#{$asset-root}/images/texture/snp-bg-patente.png) no-repeat!important;
    background-size: cover;
  }
}
.snp-bg-marca {
  .portal-default {
    background: transparent url(#{$asset-root}/images/texture/snp-bg-marca.png) no-repeat!important;
    background-size: cover;
  }
}
.snp-bg-infraccion {
  .portal-default {
    background: transparent url(#{$asset-root}/images/texture/snp-bg-infraccion.png) no-repeat!important;
    background-size: cover;
  }
}


$snp-page-default: 'snp-page-default';
$snp-color-default: $primary-color;
$snp-texture-default: '#{$asset-root}/images/texture/snp-bg-default.png';

$snp-page-dda: 'snp-page-dda';
$snp-color-dda: rgb(0, 164, 53); // derecho de autor
$snp-color-dda-first: rgb(3,135, 56); //#038738
$snp-color-dda-second: rgb(118,184,45); //#76b82d
$snp-color-dda-third: rgb(24,164,56); //#18a438
$snp-texture-dda: '#{$asset-root}/images/texture/snp-bg-dda.png';

$snp-page-dpi: 'snp-page-dpi';
$snp-color-dpi: rgb(0, 102, 150); // propiedad industrial
$snp-texture-dpi: '#{$asset-root}/images/texture/snp-bg-dpi.png';

$snp-page-bib: 'snp-page-bib';
$snp-color-bib: rgb(0, 102, 150); // biblioteca
$snp-texture-bib: '#{$asset-root}/images/texture/snp-bg-default3.png';

$snp-page-pat: 'snp-page-pat';
$snp-color-pat: rgb(134, 36, 128); // patente
$snp-color-pat-first: rgb(112,35,129); // #702381
$snp-color-pat-secod: rgb(196,14,127); // #c40e7f
$snp-color-pat-third: rgb(148,28,128); // #941c80
$snp-texture-pat: '#{$asset-root}/images/texture/snp-bg-patente.png';


$snp-page-sig: 'snp-page-sig';
$snp-color-sig-first: rgb(18,117,187); //#1275bb
$snp-color-sig-second: rgb(11,87,157); //#0n579d
$snp-color-sig-third: rgb(29,157,217); //#1d9dd9
$snp-texture-sig: '#{$asset-root}/images/texture/snp-bg-marca.png';


$snp-page-inf: 'snp-page-inf';
$snp-color-inf: rgb(244, 26, 40); // infracciones
$snp-texture-inf: '#{$asset-root}/images/texture/snp-bg-default2.png';

$snp-page-opo: 'snp-page-opo';
$snp-color-opo-first: rgb(230, 165, 97); // #e6a561
$snp-texture-opo: '#{$asset-root}/images/texture/snp-bg-default.png';

$snp-page-sig-mod-ren: 'snp-page-sig-mod-ren';
$snp-color-sig-mod-ren: rgb(255, 146, 35); // signo modificación renovación
$snp-texture-sig-mod-ren: $snp-page-default;

$snp-page-mc: 'snp-page-mc';
$snp-color-mc: rgb(162, 159, 147); // marca colectiva
$snp-texture-mc: $snp-page-default;

$snp-page-do: 'snp-page-do';
$snp-color-do: rgb(203, 124, 109); // denominación de origen
$snp-texture-do: $snp-page-default;

$snp-page-lc: 'snp-page-lc';
$snp-color-lc: rgb(0, 102, 150); // lema comercial
$snp-texture-lc: $snp-page-default;

//bg page
@include snp-bg-page($snp-texture-default, $snp-page-default);
@include snp-bg-page($snp-texture-dda, $snp-page-dda);
@include snp-bg-page($snp-texture-dpi, $snp-page-dpi);
@include snp-bg-page($snp-texture-bib, $snp-page-bib);
@include snp-bg-page($snp-texture-pat, $snp-page-pat);
@include snp-bg-page($snp-texture-sig, $snp-page-sig);
@include snp-bg-page($snp-texture-opo, $snp-page-opo);
@include snp-bg-page($snp-texture-inf, $snp-page-inf);

//text color
@include snp-color($snp-color-dda-third, 'snp-color-dda');
@include snp-color($snp-color-dpi, 'snp-color-dpi');
@include snp-color($snp-color-pat-first, 'snp-color-pat');
@include snp-color($snp-color-sig-second, 'snp-color-sig');
@include snp-color($snp-color-inf, 'snp-color-inf');
@include snp-color($snp-color-opo-first, 'snp-color-opo');
@include snp-color($snp-color-sig-mod-ren, 'snp-color-sig-mod-ren');
@include snp-color($snp-color-mc, 'snp-color-mc');
@include snp-color($snp-color-do, 'snp-color-do');
@include snp-color($snp-color-lc, 'snp-color-lc');


@media (max-width: 540px){
  .logo-container {
    top: 80px!important;
    left: 0 !important;
    padding-right: 0!important;
    .logo {
      .logo-title {
        font-size: 1.3rem!important;
      }
      .logo-description {
        font-size: .7rem!important;
      }
    }
  }
}
