/*home*/
.portal-home {
  height: 100%;

  .layout-content {
    flex: 0.996;
  }

  .layout-footer {
    z-index: 1;
    //height: $height - 2px !important;
  }

  &::before {
    /*position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.4);*/
  }

  .logo-container {
    position: absolute;
    top: 160px;
    left: 100px;
    width: auto !important;
    .block-system-branding-block {
      display: flex;
    }
  }

  .app-b-servicio {
    text-align: left;
  }
}

/*page*/
.page {
  padding-bottom: 50px;

  .el-card {
    border-radius: 0;
  }

  .post {
    position: relative;
    height: 400px;
  }

  .post-details {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 25px 15px 12px 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: $colorMenu;
    background: linear-gradient(0, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

    &:hover {
      text-decoration: underline;
    }
  }

  .post-image {
    width: 100%;
    height: 400px;
    background-color: #323232;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .post-type {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 12px;
    text-transform: uppercase;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
  }
}

.page-header {
  position: relative;
  margin-top: 30px;
}

.page-img-main {
  height: 400px;
  background-position: center;
  background-size: cover;
}

.page-title {
  padding: 15px 0 20px;
  color: $colorMenu;
  margin: 0;
  font-weight: 300;
}

.page-img-main + .page-title {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 40px 15px 15px;
  background: linear-gradient(0, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.page-title-details {
  margin-top: 5px;
  color: lighten($warning, 20%);
  font-size: 0.8rem;
  font-style: italic;

  a {
    text-decoration: none;
    color: lighten($warning, 20%);
    font-size: 0.8rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.page-content {
  padding: 25px;
  border-top: 2px solid white;
  background-color: rgba(255, 255, 255, 0.85);
  font-size: 1.1rem;
  line-height: 1.6rem;

  hr {
    margin: 0 0 15px 0;
    border: none;
    border-top: 1px solid $colorMenu;
  }

  h2 {
    margin: 0 0 15px;
    font-weight: 300;
  }

  p {
    margin: 0 0 15px;
  }

  a {
    text-decoration: none;
    color: $primary;

    &:hover {
      text-decoration: underline;
    }
  }

  iframe {
    max-width: 100%;
  }

  figure {
    margin: 10px;
  }

  .wp-block-image {
    margin: 10px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .aligncenter {
    text-align: center;
  }

  .alignright {
    text-align: right;
  }

  .alignleft {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .page {
    .post,
    .post-image {
      height: 200px;
    }

    .page-content {
      figure,
      .wp-block-image {
        margin: 10px 0;
      }
    }

    .page-img-main {
      height: 300px;
    }

    .page-title {
      h1 {
        font-size: 1.5rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .page {
    .post,
    .post-image {
      height: 250px;
    }
  }
}

@media (min-width: 992px) {
  .page {
    .post,
    .post-image {
      height: 320px;
    }
  }
}

@media (min-width: 1200px) {
  .page {
    .post,
    .post-image {
      height: 400px;
    }
  }
}

/*default*/
$colorFooter: #444444;

.portal-bg-blue {
  background-image: url(#{$asset-root}/images/resources/bg-blue2.svg);
}

.portal-bg-green {
  background-image: url(#{$asset-root}/images/resources/bg-green2.svg);
}

.portal-bg-red {
  background-image: url(#{$asset-root}/images/resources/bg-red2.svg);
}

.portal-bg-yellow {
  background-image: url(#{$asset-root}/images/resources/bg-yellow2.svg);
}

.portal-bg-blue,
.portal-bg-green,
.portal-bg-red,
.portal-bg-yellow {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
}

.wrapper-region-pre_footer {
  .region-pre-footer {
    display: flex;

    .divider {
      display: flex;
      border-color: lighten($colorFooter, 50%);
    }

    .menu {
      margin: 0;

      li {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.wrapper-region-post_footer {
  .region-post-footer {
    display: flex;

    //visitors
    .block-visitors {
      text-align: right;
      line-height: 14px;
       padding-top:3px;
      font-size: .8rem;
      .block-title {
        text-align: right;
        padding: 0;
        background-color: transparent;
        font-size: .8rem;
        text-transform: unset;
        font-weight: bolder;
        &:after {
          height: 0;
          margin: 0;
        }
        span {
          background-color: transparent;
          padding: 0;
        }
      }
      .item-list {
          ul {
            list-style: none;
            margin: 0;
            li {
              margin: 0;
            }
          }
      }
    }
  }
}

.portal-default {
  .layout-header {
    .divider {
      border-color: darken($colorMenu, 10%);
    }
  }

  .layout-footer {
    background-color: rgba(180, 180, 180, .9);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    .divider {
      display: flex;
      border-color: lighten($colorFooter, 50%);
    }


    .wrapper-footer {
      border: none;
      color: $colorFooter;

      a {
        color: $colorFooter;

        &:hover {
          color: darken($colorFooter, 10%);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .portal-default {
    .layout-footer {
      position: static;
    }

    .page {
      padding-bottom: 0;
    }
  }

  .portal-bg-blue,
  .portal-bg-green,
  .portal-bg-red,
  .portal-bg-yellow {
    background-size: cover;
  }
}

/*error*/
.app-error {
  padding: 50px 0;
  text-align: center;
  background-color: rgba(255, 255, 255, .8);
  margin-top: 30px;

  h2 {
    font-size: 12rem;
    margin: 100px 0 10px;
    // font-family: 'Poppins';
    color: $primary;
  }

  h3 {
    margin: 0 0 100px 0;
    font-size: 2rem;
    color: $info;
  }

  .btn-link {
    text-decoration: none;
  }
}

/*login*/
.app-login {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  // padding: 48px 0;
  background-color: rgba(255, 255, 255, .95);
  z-index: 1000;

  .app-search__close {
    display: block;
  }

  .logo-link {
    display: block;
    margin: 0 auto 30px;
    width: 232px;
  }

  .logo {
    .logo-title,
    .logo-description {
      color: #333333;
    }
  }
}

.app-login__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent url('#{$asset-root}/images/home.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  min-height: 100%;
  position: relative;
  z-index: 1001;

  &::before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, .9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1002;
  }
}

.app-login__form {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 420px;
  padding: 0 30px;
  z-index: 1003;

  .el-button {
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
  }

  h2 {
    text-align: center;
    font-size: 2.2rem;
    margin: 0 0 50px 0;
    line-height: 2rem;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0 0 10px 0;
  }
}


/*app header*/
$colorLink: #333333;

.container-stick {
  .layout-content {
    padding-top: $height;
  }

  .portal-default {
    .layout-header {
      .divider {
        border-left: 1px solid darken($colorMenu, 55%);
      }
    }
  }
}

.divider {
  height: $height;
  border: none;
  border-left: 1px solid darken($colorMenu, 35%);
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  margin: 0 15px;
}

.layout-header {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid $colorMenu;
  font-weight: 300;
}

.app-menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

.app-menu__item {
  display: inline-block;
  position: relative;

  & > a {
    color: $colorMenu;
    display: block;
    line-height: $height;
    padding: 0 15px;
    text-decoration: none;
    font-size: 14px;
    outline: 0;
    font-weight: 300;
  }

  &.active {
    & > a {
      color: $colorHover;
    }
  }

  .el-icon-arrow-down {
    display: none;
  }

  .app-menu__sublist {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: #ffffff;
    z-index: 10;
    top: $height;
    left: 0;
    border-top: 2px solid $info;
    min-width: 200px;
    text-align: left;
    display: none;
  }

  .app-menu__subitem {
    border-top: 1px solid #f8f8f8;

    & > a {
      line-height: 42px;
      padding: 0 15px;
      text-decoration: none;
      color: $colorLink;
      transition: all .5 ease;
    }

    &:hover, &.active {
      & > a {
        color: $info;
        transition: all .5 ease;
      }
    }
  }

  .app-menu__btn-open {
    position: absolute;
    right: 15px;
    top: 6px;
    padding: 12px 14px;
    background-color: rgba(0, 0, 0, .1);
  }
}

.logo-container {
  a {
    text-decoration: none;
  }
}

.logo-img {
  width: 30px;
  display: inline-block;
  margin: 6px 3px 0 0;
}

.app-header__submenu {
  background-color: transparent;
  border: 1px solid $colorMenu;
  border-radius: 0;
  transform: translate(16px, -8px);
  margin-right: -4px;
  min-width: 180px;

  .el-dropdown-menu__item {
    background-color: transparent;
    color: $colorMenu;
    padding: 0;

    a {
      padding: 0 20px;
      color: $colorMenu;
      display: block;
      text-decoration: none;

      &:hover {
        color: $info;
      }
    }

    &:hover {
      background-color: transparent;
      color: $info;
    }
  }

  .popper__arrow {
    display: none;
  }
}

.app-header__search-text,
.app-menu__btn-open,
.app-menu__btn-open-menu,
.app-search__close {
  display: none;
}


.layout-header {
  .wrapper-region-header {
    .block-language {
      display: none;
    }
  }
}

.app-menu__main {
  .block-system-branding-block {
    display: none;
  }
}

.app-header__options,
.app-header__search {
  display: inline-block;
}

/*app footer*/
.wrapper-footer {
  border-top: 1px solid $colorMenu;
  line-height: $height;
  color: $colorMenu;
  font-size: .9rem;
  font-weight: 300;

  .wrapper-region-footer {
    display: none;
    background-color: rgba(0, 0, 0, .4);
    padding: 0 15px;

    .app-b-servicio {
      display: block;
    }
  }

  a {
    color: $colorMenu;
    text-decoration: none;
    font-size: .9rem;
    font-weight: 300;

    &:hover {
      color: $colorHover;
      text-decoration: underline;
    }
  }
}

/*app lang*/
$colorLink: #333333;

.app-lang__item {
  padding: 0;

  a {
    display: block;
    padding: 0 20px;
    text-decoration: none;
    color: $colorLink;

    &:hover {
      color: $primary;
    }
  }
}

.app-lang__submenu {
  background-color: rgba(0, 0, 0, .7);
  border: 1px solid $colorMenu;
  border-radius: 0;
  transform: translateY(-8px);
  min-width: 109px;

  .el-dropdown-menu__item {
    background-color: transparent;

    &:hover {
      background-color: transparent;
    }

    a {
      background-color: transparent;
      color: $colorMenu;

      &:hover {
        background-color: transparent;
        color: $info;
      }
    }
  }

  .popper__arrow {
    display: none;
  }
}

.text-short {
  display: none;
}

/*app logo*/

.logo-link {
  text-decoration: none;
}

.logo {
  color: #ffffff;
  display: inline-block;
  vertical-align: top;
  padding: 7px 0 0 0;

  .logo-title {
    font-size: 0.8rem;
    line-height: 0.8rem;
    font-weight: 100;

    &:first-child {
      display: none;
    }
  }

  .logo-description {
    font-size: 1rem;
    line-height: 1.1rem;
    font-weight: 300;

    a {
      color: #fff;
    }
  }
}

.portal-home {
  .wrapper-header {
    .logo {
      line-height: $height;
      margin: 0;
      color: #ffffff;
      font-weight: 300;
      padding: 0 0 0 10px;
      border-left: 1px solid #ffffff;

      .logo-title {
        font-size: 2rem;
        line-height: 2.5rem;

        &:first-child {
          display: block;
        }

        &:last-child {
          display: none;
        }
      }

      .logo-description {
        font-size: 1.3rem;
        line-height: 2.5rem;
      }
    }

    .open-menu {
      .logo-title {
        font-size: 0.8rem;
        line-height: 0.8rem;
        font-weight: 100;
        color: #333;
        margin-top: 11px;
      }

      .logo-description {
        font-size: 1rem;
        line-height: 1.1rem;
        font-weight: 300;
        color: #333;
      }
    }
  }
}

/*app search*/
$color: #333333;

.app-search {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .95);
  z-index: 1000;

  .app-search__close {
    display: block;
  }
}

.app-search__close {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 1010;
  opacity: .7;

  &:hover {
    opacity: 1;
  }

  .el-icon-close {
    font-size: 3rem;
    color: #777;
    cursor: pointer;
  }
}

.app-search__form {
  box-sizing: border-box;
  position: relative;
  max-width: 800px;
  width: 100%;
  margin: 0 10%;

}

.app-search__button {
  border: none;
  box-shadow: none;
  background: transparent;
  position: absolute;
  right: 0;
  top: 6px;
  padding: 0;
  margin: 0;
  cursor: pointer;

  .el-icon-search {
    font-size: 1.6rem;
  }
}

.app-search__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 100%;
}

.app-search__input {
  border: none;
  border-bottom: 1px solid #aaa;
  font-size: 26px;
  font-weight: 700;
  background: transparent;
  box-shadow: none;
  width: 100%;
  padding-bottom: 10px;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
    opacity: 1;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: $color;
    opacity: 1;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: $color;
    opacity: 1;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $color;
    opacity: 1;
  }

  &:placeholder { /* Firefox 18- */
    color: $color;
    opacity: 1;
  }
}

/*b-servicio*/
.b-servicio {
  color: $colorMenu;
  font-weight: 300;
  line-height: $height;
  font-size: .8rem;
  display: inline-block;
  vertical-align: top;
}

.b-servicio-titulo {
  margin-right: 5px;
  text-transform: uppercase;
}

.b-icon-arrow-down {
  display: none;
}

.b-icon-arrow-down:after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

.b-servicio-opciones {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.b-servicio-item {
  display: inline-block;
}


.b-servicio-item {
  [class^="fa-"],
  [class*=" fa-"] {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
    line-height: 32px;
  }
}

.b-services-short {
  display: none;
}

/*responsive*/
@mixin menu() {
  .b-servicio-titulo {
    display: block;
    cursor: pointer;
  }
  .b-servicio-opciones {
    position: absolute;
    //bottom: -49px;
    left: -5px;

    width: 325px;
    background-color: rgba(0, 0, 0, .4);
    padding: 0 2px 0 6px;
    border-radius: 3px;
    display: none;
    z-index: 1;
  }
  .b-services-two-points {
    display: none;
  }
  .b-icon-arrow-down {
    display: inline-block;
  }
  .b-servicio {
    position: relative;

    &::before {
      display: none;
      content: '';
      position: absolute;
      top: 0;
      left: -20px;
      width: 250px;
      height: 110px;
      // background-color: rgba(0, 0, 0, .4);
    }
  }
  .app-b-servicio {
    &:hover {
      .b-servicio::before {
        display: block;
      }

      .b-servicio-opciones {
        display: block;
      }
    }
  }
}

@mixin header() {
  .b-servicio-titulo {
    display: inline-block;
  }
  .b-servicio-opciones {
    display: inline-block;
  }
  .b-services-two-points {
    display: inline-block;
  }
  .b-icon-arrow-down {
    display: none;
  }
}

@media (max-width: 350px) {
  .portal-default {
    .b-services-short {
      display: inline;
    }

    .b-services-long {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  @-webkit-keyframes menuEffect {
    0% {
      opacity: 0;
      top: calc(100% + 20px);
    }
    100% {
      opacity: 1;
      top: 100%;
    }
  }
  @keyframes menuEffect {
    0% {
      opacity: 0;
      top: calc(100% + 20px);
    }
    100% {
      opacity: 1;
      top: 100%;
    }
  }
  //cambiado a navbar
  .app-menu {
    height: $height;
    transition: all .4s ease;

    &.stick {
      position: fixed;
      background-color: rgba(0, 0, 0, .85);
      top: 0;
      left: 0;
      right: 0;
      z-index: 502;
      transition: all .4s ease;
      box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
      padding: 0 15px;

      .app-menu__sublist {
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
      }
    }
  }
  .navbar {
    padding: 0;
    height: $height;
    transition: all .4s ease;

    &.stick {
      position: fixed;
      background-color: rgba(0, 0, 0, .85);
      top: 0;
      left: 0;
      right: 0;
      z-index: 502;
      transition: all .4s ease;
      box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
      padding: 0 15px;

      .app-menu__sublist {
        box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .app-menu__item {
    &:hover {
      & > a {
        color: $colorHover;
      }

      .app-menu__sublist {
        display: block;
        -webkit-animation: menuEffect 0.4s both;
        -ms-animation: menuEffect 0.4s both;
        animation: menuEffect 0.4s both;
      }
    }
  }
}

@media (max-width: 768px) {
  .portal-home {
    .app-b-servicio {
      margin-left: auto;
    }

    .wrapper-header {
      .logo-container {
        left: 10%;
        padding-right: 10%;
      }
    }
  }

  .portal-home, .portal-default {

    .layout-footer {
      .wrapper-footer {
        .container {
          .wrapper-region-footer {
            display: none;
          }
        }
      }
    }

    .layout-header {
      padding: 0;


      .logo-container {
        margin-right: auto;
      }

      .wrapper-region-header {
        display: block;

        .block-language {
          display: block;
        }
      }

      .app-b-servicio {
        display: inline-block;

        .b-servicio-opciones {
          top: 49px;
          left: 18px;
          width: 145px;
          background-color: rgba(0, 0, 0, 0.8);
          height: 144px;
          z-index: 1;

          .b-servicio-item {
            display: inline-block;
            margin: 0 5px;
          }
        }
      }

      .logo-link {
        padding-left: 10px;
      }

      .app-menu__btn-open-menu {
        display: inline-block;
        margin-right: 10px;
        padding: 10px 8px;
        color: #fff;
        font-weight: 300;
      }

      .app-search__close {
        display: block;
      }
    }
  }

  .app-menu__main {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .97);
    z-index: 100;
    min-height: 100vh;
    padding-bottom: 10px;

    &.open-menu {
      display: block;
    }

    .logo {
      display: inline-block;
      color: $colorLink;
    }

    .app-lang {
      display: none;
    }

    .el-icon-arrow-down {
      display: inline-block;
    }

    .app-menu__list {
      display: block;
      padding-top: 10px;
    }

    .app-menu__item {
      display: block;

      & > a {
        color: $colorLink;
        padding: 0 25px;
        font-size: .95rem;
      }
    }

    .block-system-branding-block {
      display: block;
      margin-bottom: 10px;
    }

    .app-menu__sublist {
      display: none;
      position: static;
      background-color: rgba(0, 0, 0, .03);
      border: none;
      padding: 10px;

      &.open-menu {
        display: block;
      }
    }

    .app-menu__subitem {
      border: none;

      & > a {
        color: $colorLink;
        padding: 0 25px;
      }
    }

    .app-header__options,
    .app-header__search {
      display: block;
      padding: 0 24px;
    }

    .divider {
      height: 0;
      display: block;
      border: none;
      border-bottom: 1px solid $colorMenu;
      margin: 8px 0px;
    }

    .app-lang-divider {
      display: none;
    }

    .app-header__search-text {
      display: inline;
    }

    .app-search__close {
      top: 12px;
      right: 18px;

      .el-icon-close {
        font-size: 2.2rem;
      }
    }

    .app-menu__btn-open {
      display: block;
    }

    .app-btn__link {
      color: $colorLink;

      i {
        color: $colorLink;
      }
    }
  }

  .app-lang__submenu {
    border: none;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .7);
    transform: translateY(-10px);
  }
}

@media (max-width: 1160px) {

  .logo {
    display: none;
  }

}

@media (max-width: 992px) {
  .logo-link {
    .logo {
      display: none;
    }
  }
  .open-menu {
    .logo-link {
      .logo {
        display: inline-block;
        margin: 3px 0 0 10px;
      }
    }
  }
  .portal-home {
    .wrapper-footer {
      .container {
        .wrapper-region-footer {
          display: block;
        }
      }
    }

    .logo {
      display: inline-block;
    }

    .app-menu__main {
      margin-left: auto;
    }

    .app-b-servicio {
      display: none;
    }
  }

  .wrapper-footer {
    .container {
      max-width: 100%;
      width: 100%;
      padding: 0 15px;
      box-sizing: border-box;
    }
  }
}

@media (max-width: 1330px) {
  .portal-default {
    .app-b-servicio {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  .portal-default {
    .wrapper-footer {
      .container {
        .wrapper-region-footer {
          display: block;
        }
      }
    }

    .app-b-servicio {
      display: none;
    }
  }
  .block-language {
    .text-short {
      display: inline-block;
    }

    .text-long {
      display: none;
    }
  }
}

@media (min-width: 1250px) {
  .portal-home {
    .wrapper-header {
      @include header();
    }
  }
}

@media (max-width: 1250px) {
  .portal-home {
    .wrapper-header {
      @include menu();
    }
  }
}

@media (min-width: 1500px) {
  .portal-default {
    .wrapper-header {
      @include header();
    }
  }
}

@media (max-width: 1500px) {
  .portal-default {
    .wrapper-header {
      @include menu();
    }
  }
}


/*box*/

.el-card {
  border-radius: 4px;
  border: 1px solid #EBEEF5;
  background-color: #FFF;
  overflow: hidden;
  color: #303133;
  -webkit-transition: .3s;
  transition: .3s
}

.el-card.is-always-shadow,
.el-card.is-hover-shadow:focus,
.el-card.is-hover-shadow:hover {
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1)
}

.el-card__header {
  padding: 18px 20px;
  border-bottom: 1px solid #EBEEF5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.el-card__body {
  padding: 20px
}

@import "page-fullcalendar";
@import "page-header";
@import "page-spinner";
@import "page-social-simple";
@import "page-sidr";
@import "page-superfish";
@import "page-collapse";
@import "page-breadcrumb";
@import "page-datatables";
