.wrapper-accordion, [class*="wrapper-accordion-"] {
  a[data-toggle="modal"] {
    .fa-file-pdf-o {
      font-size: 1.8rem;
    }
  }
}

.card-accordion {
 // background-color: rgb(144, 188, 176);
  background-color: rgb(103, 103, 103);
  color: $white;
  padding: .30rem 0.1rem;

  a.btn {
    cursor: pointer;
    padding-left: 2rem;
  }

  .icon-collapse {
    position: absolute;
    -webkit-transform: translate(-6px, 0);
    -ms-transform: translate(-6px, 0);
    transform: translate(-6px, 0);
    left: 1.6rem;
    top: 1.1rem;

    &:before, &:after {
      content: "";
      position: absolute;
      background-color: $white;
      width: 1px;
      height: .8rem;
    }
    &:before {
      -webkit-transform: translate(1px, 0) rotate(180deg);
      -ms-transform: translate(1px, 0) rotate(180deg);
      transform: translate(1px, 0) rotate(180deg);
      transition: all .25s ease-in-out;
    }
    &:after {
      -webkit-transform: translate(1px, 0) rotate(90deg);
      -ms-transform: translate(1px, 0) rotate(90deg);
      transform: translate(1px, 0) rotate(90deg);
      transition: all .25s ease-in-out;
    }
  }

  a[aria-expanded="true"] {
    .icon-collapse {
      &:before {
        -webkit-transform: translate(1px, 0) rotate(270deg);
        -ms-transform: translate(1px, 0) rotate(270deg);
        transform: translate(1px, 0) rotate(270deg);
      }
    }
  }


}

@include snp-bg-collapse($snp-color-dda-second, $snp-page-dda, $snp-color-dda-third);
@include snp-bg-collapse($snp-color-dpi, $snp-page-dpi);
@include snp-bg-collapse($snp-color-pat-secod, $snp-page-pat);

@include snp-bg-collapse($snp-color-sig-third, $snp-page-sig);
@include snp-bg-collapse(rgb(202,158,103), 'snp-page-busqueda', rgb(202,158,103), rgb(254,218,153));
@include snp-bg-collapse(rgb(202,158,103), 'snp-page-certificacion', rgb(254,218,153));
@include snp-bg-collapse(rgb(9,99,149), $snp-page-lc, rgb(9,99,149));
@include snp-bg-collapse(rgb(161,159,146), $snp-page-mc, rgb(161,159,146), rgb(226,223,207));
@include snp-bg-collapse(rgb(116,151,181), $snp-page-do, rgb(116,151,181), rgb(177,139,127));

@include snp-bg-collapse(rgb(233,78,27), 'snp-page-ren-mod',rgb(233,78,27));
@include snp-bg-collapse(rgb(243,146,0), 'snp-page-ren',rgb(243,146,0));
@include snp-bg-collapse(rgb(233,78,27), 'snp-page-mod',rgb(233,78,27));

@include snp-bg-collapse($snp-color-opo-first, $snp-page-opo, $snp-color-opo-first);
@include snp-bg-collapse($snp-color-opo-first, 'snp-page-opo-nulidad', $snp-color-opo-first);
@include snp-bg-collapse($snp-color-opo-first, 'snp-page-opo-cancelacion', $snp-color-opo-first);

@include snp-bg-collapse(rgb(248, 41, 50), $snp-page-inf, rgb(143, 6, 40));
@include snp-bg-collapse(rgb(143, 6, 40), 'snp-page-inf-accion', rgb(143, 6, 40));
@include snp-bg-collapse(rgb(59, 59, 45), 'snp-page-inf-cautelar',rgb(59, 59, 45));
@include snp-bg-collapse(rgb(218, 79, 70), 'snp-page-inf-frontera', rgb(218, 79, 70));


@include snp-bg-collapse($snp-color-dda-third, 'snp-page-audiencias', $snp-color-dda-second, $snp-color-dda-first );
@include snp-bg-collapse(rgb(144, 188, 176), 'snp-page-primera-obra', rgb(144, 188, 176));
@include snp-bg-collapse(rgb(38, 74, 124), 'snp-page-cidea', rgb(38, 74, 124));

@include snp-bg-collapse($snp-color-pat-first, 'snp-page-pat-invencion', $snp-color-pat-first);
@include snp-bg-collapse($snp-color-pat-secod, 'snp-page-pat-modelo', $snp-color-pat-secod);
@include snp-bg-collapse($snp-color-pat-third, 'snp-page-pat-disenio', $snp-color-pat-third);


.crop-pat-invencion {
    display: flex;
    width: 250px;
    overflow: hidden;
    align-items: center;
    height: 200px;
    margin: 0 auto;
}

.view-gaceta-block {

   [class*="col-"]:nth-child(2n+1) {
    .card {
      background: #00a89c;
    }
  }
  [class*="col-"]:nth-child(4n+1) {
    .card {
      background: #467795;
    }
  }
  [class*="col-"]:nth-child(2n+4) {
    .card {
      background: #467795;
    }
  }
  [class*="col-"]:nth-child(4n+2) {
    .card {
      background: #00a89c;
    }
  }
  .card {
    color: white;
    .file a {
      color: white;
    }
  }
}

.view-oposicion-block, .view-comunicado-block, .view-auditoria-block {

   [class*="col-"]:nth-child(2n+1) {
    .card {
      background: rgb(253, 227, 213);
      color: inherit;
      .file a {
        color: inherit;
      }
    }

  }
  [class*="col-"]:nth-child(4n+1) {
    .card {
      background: white;
    }
  }
  [class*="col-"]:nth-child(2n+4) {
    .card {
      background: white;
    }
  }
  [class*="col-"]:nth-child(4n+2) {
    .card {
      background: rgb(253, 227, 213);
      color: inherit;
      .file a {
        color: inherit;
      }
    }
  }
  article {
    h2, .field--name-field-number {
      display: none;
    }
  }
}
