h2, h3, h4, h5 {
  &.block-title {
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px 0 10px 0;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 0;
    font-weight: 600;
    background-color: #fff;
    &:after {
      display: block;
      width: 100%;
      height: 5px;
      margin-top: -15px;
      content: "";
      text-align: center;
      background: #f2f4f8;
    }
    > span {
      display: inline-block;
      padding: 0 25px;
      background: #fff;
    }

    &.text-left {
      > span {
        padding-left: .3rem;
      }
    }
  }
}
