/*
 * Sample SCSS for adding Superfish CSS to themes.
 *
 * Instructions:
 *
 * 1. Change the #YOUR-BLOCK-ID (below) to the ID of your Superfish block.
 *
 * 2. Add the SCSS to your theme.
 *
 * 3. Note that by removing the .sf-style-none, the style will be applied to the menu regardless of
 *    the "Style" selected in the Superfish block configuration.
 *
 */

// Yoau can add these variables to your _base.scss
$superfish-1-color: $primary-color;
$superfish-1-background-color-level-first: #f0f0f0;
$superfish-1-background-color-level-second: #e0e0e0;
$superfish-1-background-color-level-third: #d0d0d0;
$superfish-1-background-color-level-fourth: #c0c0c0;

#sidr,
.block-superfish {
  .sf-style-none {
    float: left;
    margin: 0;
    padding: 0;
    &.sf-navbar {
      width: 100%;
      background: $superfish-1-background-color-level-first;
    }
    ul {
      padding-left: 0;
      &.sf-multicolumn li {
        &.sf-multicolumn-wrapper {
          background: $superfish-1-background-color-level-fourth;
          li {
            background: transparent;
          }
        }
      }
    }
    a {
      color: $superfish-1-color;
      padding: .9em 1.5rem;
      text-decoration: none;
      &.sf-with-ul {
        padding-right: 2.25em;
      }
      &:focus {
        background: $superfish-1-background-color-level-fourth;
        outline: 0;
      }
      &:hover {
        background: $superfish-1-background-color-level-fourth;
        outline: 0;
      }
      &:active {
        background: $superfish-1-background-color-level-fourth;
        outline: 0;
      }
    }
    span {
      &.nolink {
        color: $superfish-1-color;
        padding: 0.75em 1em;
        &.sf-with-ul {
          padding-right: 2.25em;
        }
        &:hover {
          background: $superfish-1-background-color-level-fourth;
          outline: 0;
        }
      }
      &.sf-description {
        color: $superfish-1-color;
        display: block;
        font-size: 0.833em;
        line-height: 1.5;
        margin: 5px 0 0 5px;
        padding: 0;
      }
    }
    &.rtl {
      span {
        &.sf-description {
          margin: 5px 5px 0 0;
        }
        &.nolink.sf-with-ul {
          padding-left: 2.25em;
          padding-right: 1em;
        }
      }
      a.sf-with-ul {
        padding-left: 2.25em;
        padding-right: 1em;
      }
    }
    li {
      background: $superfish-1-background-color-level-first;
      li {
        background: $superfish-1-background-color-level-second;
        li {
          background: $superfish-1-background-color-level-third;
        }
      }
      &:hover {
        background: $superfish-1-background-color-level-fourth;
        outline: 0;
        > ul {
          //top: 40px;
        }
      }
      &.sfHover {
        background: $superfish-1-background-color-level-fourth;
        outline: 0;
        > ul {
          //top: 40px;
        }
      }
    }
    .sf-sub-indicator {
      &:after {
        content: "";
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
      }
    }
  }
  div.sf-accordion-toggle {
    &.sf-style-none a {
      background: $superfish-1-background-color-level-first;
      color: $superfish-1-color;
      padding: 1em;
      &.sf-expanded {
        background: $superfish-1-background-color-level-fourth;
        font-weight: bold;
      }
    }
  }
  .sf-menu.sf-style-none {
    &.rtl {
      &.sf-accordion li {
        li {
          a {
            padding-left: auto;
            padding-right: 2em;
          }
          li {
            a {
              padding-left: auto;
              padding-right: 3em;
            }
            li {
              a {
                padding-left: auto;
                padding-right: 4em;
              }
              li {
                a {
                  padding-left: auto;
                  padding-right: 5em;
                }
                span.nolink {
                  padding-left: auto;
                  padding-right: 5em;
                }
              }
              span.nolink {
                padding-left: auto;
                padding-right: 4em;
              }
            }
            span.nolink {
              padding-left: auto;
              padding-right: 3em;
            }
          }
          span.nolink {
            padding-left: auto;
            padding-right: 2em;
          }
        }
      }
      ul.sf-multicolumn {
        li.sf-multicolumn-wrapper {
          ol li {
            &.sf-multicolumn-column {
              float: right;
            }
          }
        }
      }
    }
    &.sf-accordion li {
      background: $superfish-1-background-color-level-first url($menu-border) 0 0 repeat-x;
      &.sf-expanded {
        background: $superfish-1-background-color-level-fourth url($menu-border) 0 0 repeat-xs;
        > {
          a {
            font-weight: bold;
            .sf-sub-indicator {
              &:after {
                content: "";
                border-top: 0.3em solid;
                border-right: 0.3em solid transparent;
                border-bottom: 0;
                border-left: 0.3em solid transparent;
              }
            }

          }
          span.nolink {
            font-weight: bold;
          }
        }
      }
      li {
        a {
          padding-left: 2em;
        }
        li {
          a {
            padding-left: 3em;
          }
          li {
            a {
              padding-left: 4em;
            }
            li {
              a {
                padding-left: 5em;
              }
              span.nolink {
                padding-left: 5em;
              }
            }
            span.nolink {
              padding-left: 4em;
            }
          }
          span.nolink {
            padding-left: 3em;
          }
        }
        span.nolink {
          padding-left: 2em;
        }
      }
      a.sf-accordion-button {
        font-weight: bold;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 499;
      }
    }
    ul.sf-multicolumn {
      li.sf-multicolumn-wrapper {
        ol {
          margin: 0;
          padding: 0;
          li {
            margin: 0;
            padding: 0;
            &.sf-multicolumn-column {
              display: inline;
              float: left;
            }
          }
        }
        a.menuparent {
          font-weight: bold;
        }
        span.nolink {
          &.menuparent {
            font-weight: bold;
          }
        }
      }
    }

    li {
      padding: 0;
      li {
        background: $superfish-1-background-color-level-second url($menu-border) 0 0 repeat-x;
        li {
          background: $superfish-1-background-color-level-third url($menu-border) 0 0 repeat-x;
        }
      }
      &:hover {
        outline: 0;
        background: $superfish-1-background-color-level-fourth url($menu-active);
        > ul {
          background: $superfish-1-background-color-level-fourth ;
        }
      }
      &.sfHover {
        outline: 0;
        background: $superfish-1-background-color-level-fourth url($menu-active);

      }
    }
    .is-active {
      color: #fff;
      background: $superfish-1-background-color-level-fourth url($menu-active);
    }
  }
}


.block-superfish {
  .sf-style-none {
    //line-height: 1.4;
    line-height: unset;
    .sf-with-ul {
      padding-right: 2.3em;
    }
    &.sf-navbar {
      background: transparent;
    }
    li {
      background: transparent;
    }
  }
  div.sf-accordion-toggle {
    &.sf-style-none a {
      background: transparent;

    }
  }
  li.sf-depth-1 > a.sf-depth-1 {
    color: #fff;
  }
  li.sf-depth-1.sfHover > a.sf-depth-1 {
    color: $superfish-1-color;
  }
  ul.sf-menu {
    > li {
      &:hover > ul,
      &.sfHover > ul {
        top: 3.5em;
      }
    }
    ul {
      .sf-sub-indicator {
        &:after {
          content: "";
          border-top: 0.3em solid transparent;
          border-right: 0;
          border-bottom: 0.3em solid transparent;
          border-left: 0.3em solid;
        }
      }
    }
  }
}
#sidr {
  .wrapper-close {
    padding: 15px;
    color: $primary-color;
    background-color: #fff;
    display: inline-block;
    width: 100%;
    .title {
      img {
        margin: 0;
      }
    }
    .logo-three {
      display: inline-block!important;
    }
    #superfish-main-accordion-hidden-close {
      float: right;
    }
  }
  .sf-style-none {
    .menuparent {
      .sf-sub-indicator {
        &:after {
          content: "";
          border-top: 0.3em solid transparent;
          border-right: 0;
          border-bottom: 0.3em solid transparent;
          border-left: 0.3em solid;
        }
      }
    }
  }
}