/*
.social-buttons-title {
  height: 32px;
}
.social-buttons-links {
  li {
    padding: 0!important;
    a {
      width: 32px;
      height: 32px;
      .fa {
        vertical-align: middle;
      }
    }
  }
}
*/


.social-buttons {
  display: flex;
  .social-buttons-title {
    margin: auto 5px;
  }
  .social-buttons-links {
    display: flex;
    margin: auto;
    li {
      display: inline-block;
      padding: 2px;
    }
    a {
      width: 32px;
      height: auto;
      border-radius: 4px;
    }
  }
}