.breadcrumb {
  padding-right: 175px;
}
.breadcrumb-date {
  color: $white;
  position: absolute;
  top: 8px;
  right: 0;
  font-size: .60rem;
  text-transform: uppercase;
}

@include media-breakpoint-down(xs) {
  .breadcrumb {
    margin-bottom: 0;
    padding-right: unset;
  }
  .breadcrumb-date {
      position: relative;
      top: unset;
      text-align: right;
  }
}