.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  -webkit-transform: translate(-50%,-50%); /* Safari */
  -ms-transform: translate(-50%,-50%); /* IE 9 */
  transform: translate(-50%,-50%);
  /* Standard syntax */
   > div {
    display: inline-block;
    width: 18px;
    height: 18px;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    border-radius: 100%;
    background-color: #333;
  }
  .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}
@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
