
@font-face {
  font-family: 'TitilliumText-Italic';
  src: url('TitilliumText-Italic.eot?#iefix') format('embedded-opentype'),  url('TitilliumText-Italic.otf')  format('opentype'),
	     url('TitilliumText-Italic.woff') format('woff'), url('TitilliumText-Italic.ttf')  format('truetype'), url('TitilliumText-Italic.svg#TitilliumText-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
