
@font-face {
  font-family: 'TitilliumText-LightItalic';
  src: url('TitilliumText-LightItalic.eot?#iefix') format('embedded-opentype'),  url('TitilliumText-LightItalic.otf')  format('opentype'),
	     url('TitilliumText-LightItalic.woff') format('woff'), url('TitilliumText-LightItalic.ttf')  format('truetype'), url('TitilliumText-LightItalic.svg#TitilliumText-LightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
