
@font-face {
  font-family: 'TitilliumText-BoldItalic';
  src: url('TitilliumText-BoldItalic.eot?#iefix') format('embedded-opentype'),  url('TitilliumText-BoldItalic.otf')  format('opentype'),
	     url('TitilliumText-BoldItalic.woff') format('woff'), url('TitilliumText-BoldItalic.ttf')  format('truetype'), url('TitilliumText-BoldItalic.svg#TitilliumText-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
