
@font-face {
  font-family: 'TitilliumText-Bold';
  src: url('TitilliumText-Bold.eot?#iefix') format('embedded-opentype'),  url('TitilliumText-Bold.otf')  format('opentype'),
	     url('TitilliumText-Bold.woff') format('woff'), url('TitilliumText-Bold.ttf')  format('truetype'), url('TitilliumText-Bold.svg#TitilliumText-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
