
@font-face {
  font-family: 'TitilliumText-ExtraBoldItalic';
  src: url('TitilliumText-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),  url('TitilliumText-ExtraBoldItalic.otf')  format('opentype'),
	     url('TitilliumText-ExtraBoldItalic.woff') format('woff'), url('TitilliumText-ExtraBoldItalic.ttf')  format('truetype'), url('TitilliumText-ExtraBoldItalic.svg#TitilliumText-ExtraBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
