//assets
@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 300;
  src: local('Sansation Light'), local('Sansation-Light'),
  url("#{$asset-root}/fonts/SansationLight/SansationLight.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/SansationLight/SansationLight.woff") format("woff"),
  url("#{$asset-root}/fonts/SansationLight/SansationLight.ttf") format("truetype"),
  url("#{$asset-root}/fonts/SansationLight/SansationLight.svg#SansationLight") format("svg");
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 300;
  src: local('Sansation Light'), local('Sansation-Light'),
  url("#{$asset-root}/fonts/SansationLight/SansationLight.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/SansationLight/SansationLight.woff") format("woff"),
  url("#{$asset-root}/fonts/SansationLight/SansationLight.ttf") format("truetype"),
  url("#{$asset-root}/fonts/SansationLight/SansationLight.svg#SansationLight") format("svg");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 300;
  src: local('Sansation Light'), local('Sansation-Light'),
  url("#{$asset-root}/fonts/SansationLight/SansationLight.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/SansationLight/SansationLight.woff") format("woff"),
  url("#{$asset-root}/fonts/SansationLight/SansationLight.ttf") format("truetype"),
  url("#{$asset-root}/fonts/SansationLight/SansationLight.svg#SansationLight") format("svg");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* devanagari */
@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 400;
  src: local('Sansation'), local('Sansation-Regular'),
  url("#{$asset-root}/fonts/SansationRegular/SansationRegular.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/SansationRegular/SansationRegular.woff") format("woff"),
  url("#{$asset-root}/fonts/SansationRegular/SansationRegular.ttf") format("truetype"),
  url("#{$asset-root}/fonts/SansationRegular/SansationRegular.svg#SansationRegular") format("svg");;
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 400;
  src: local('Sansation'), local('Sansation-Regular'),
  url("#{$asset-root}/fonts/SansationRegular/SansationRegular.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/SansationRegular/SansationRegular.woff") format("woff"),
  url("#{$asset-root}/fonts/SansationRegular/SansationRegular.ttf") format("truetype"),
  url("#{$asset-root}/fonts/SansationRegular/SansationRegular.svg#SansationRegular") format("svg");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 400;
  src: local('Sansation'), local('Sansation-Regular'),
  url("#{$asset-root}/fonts/SansationRegular/SansationRegular.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/SansationRegular/SansationRegular.woff") format("woff"),
  url("#{$asset-root}/fonts/SansationRegular/SansationRegular.ttf") format("truetype"),
  url("#{$asset-root}/fonts/SansationRegular/SansationRegular.svg#SansationRegular") format("svg");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* devanagari */
@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 700;
  src: local('Sansation Bold'), local('Sansation-Bold'),
  url("#{$asset-root}/fonts/SansationBold/SansationBold.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/SansationBold/SansationBold.woff") format("woff"),
  url("#{$asset-root}/fonts/SansationBold/SansationBold.ttf") format("truetype"),
  url("#{$asset-root}/fonts/SansationBold/SansationBold.svg#SansationBold") format("svg");
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 700;
  src: local('Sansation Bold'), local('Sansation-Bold'),
  url("#{$asset-root}/fonts/SansationBold/SansationBold.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/SansationBold/SansationBold.woff") format("woff"),
  url("#{$asset-root}/fonts/SansationBold/SansationBold.ttf") format("truetype"),
  url("#{$asset-root}/fonts/SansationBold/SansationBold.svg#SansationBold") format("svg");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sansation';
  font-style: normal;
  font-weight: 700;
  src: local('Sansation Bold'), local('Sansation-Bold'),
  url("#{$asset-root}/fonts/SansationBold/SansationBold.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/SansationBold/SansationBold.woff") format("woff"),
  url("#{$asset-root}/fonts/SansationBold/SansationBold.ttf") format("truetype"),
  url("#{$asset-root}/fonts/SansationBold/SansationBold.svg#SansationBold") format("svg");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/*@font-face {
  font-family: "SansationLight";
  src:  url("#{$asset-root}/fonts/SansationLight/SansationLight.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/SansationLight/SansationLight.woff") format("woff"),
  url("#{$asset-root}/fonts/SansationLight/SansationLight.ttf") format("truetype"),
  url("#{$asset-root}/fonts/SansationLight/SansationLight.svg#SansationLight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SansationBold";
  src: url("#{$asset-root}/fonts/SansationBold/SansationBold.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/SansationBold/SansationBold.woff") format("woff"),
  url("#{$asset-root}/fonts/SansationBold/SansationBold.ttf") format("truetype"),
  url("#{$asset-root}/fonts/SansationBold/SansationBold.svg#SansationBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SansationBoldItalic";
  src: url("#{$asset-root}/fonts/SansationBoldItalic/SansationBoldItalic.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/SansationBoldItalic/SansationBoldItalic.woff") format("woff"),
  url("#{$asset-root}/fonts/SansationBoldItalic/SansationBoldItalic.ttf") format("truetype"),
  url("#{$asset-root}/fonts/SansationBoldItalic/SansationBoldItalic.svg#SansationBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SansationItalic";
  src: url("#{$asset-root}/fonts/SansationItalic/SansationItalic.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/SansationItalic/SansationItalic.woff") format("woff"),
  url("#{$asset-root}/fonts/SansationItalic/SansationItalic.ttf") format("truetype"),
  url("#{$asset-root}/fonts/SansationItalic/SansationItalic.svg#SansationItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SansationLightItalic";
  src: url("#{$asset-root}/fonts/SansationLightItalic/SansationLightItalic.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/SansationLightItalic/SansationLightItalic.woff") format("woff"),
  url("#{$asset-root}/fonts/SansationLightItalic/SansationLightItalic.ttf") format("truetype"),
  url("#{$asset-root}/fonts/SansationLightItalic/SansationLightItalic.svg#SansationLightItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SansationRegular";
  src: url("#{$asset-root}/fonts/SansationRegular/SansationRegular.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/SansationRegular/SansationRegular.woff") format("woff"),
  url("#{$asset-root}/fonts/SansationRegular/SansationRegular.ttf") format("truetype"),
  url("#{$asset-root}/fonts/SansationRegular/SansationRegular.svg#SansationRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}*/