/* devanagari */
@font-face {
  font-family: 'TitilliumText';
  font-style: normal;
  font-weight: 300;
  src: local('TitilliumText Light'), local('TitilliumText-Light'),
  url("#{$asset-root}/fonts/TitilliumText-Light/TitilliumText-Light.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/TitilliumText-Light/TitilliumText-Light.woff") format("woff"),
  url("#{$asset-root}/fonts/TitilliumText-Light/TitilliumText-Light.ttf") format("truetype"),
  url("#{$asset-root}/fonts/TitilliumText-Light/TitilliumText-Light.svg#TitilliumText-Light") format("svg");
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'TitilliumText';
  font-style: normal;
  font-weight: 300;
  src: local('TitilliumText Light'), local('TitilliumText-Light'),
  url("#{$asset-root}/fonts/TitilliumText-Light/TitilliumText-Light.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/TitilliumText-Light/TitilliumText-Light.woff") format("woff"),
  url("#{$asset-root}/fonts/TitilliumText-Light/TitilliumText-Light.ttf") format("truetype"),
  url("#{$asset-root}/fonts/TitilliumText-Light/TitilliumText-Light.svg#TitilliumText-Light") format("svg");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'TitilliumText';
  font-style: normal;
  font-weight: 300;
  src: local('TitilliumText Light'), local('TitilliumText-Light'),
  url("#{$asset-root}/fonts/TitilliumText-Light/TitilliumText-Light.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/TitilliumText-Light/TitilliumText-Light.woff") format("woff"),
  url("#{$asset-root}/fonts/TitilliumText-Light/TitilliumText-Light.ttf") format("truetype"),
  url("#{$asset-root}/fonts/TitilliumText-Light/TitilliumText-Light.svg#TitilliumText-Light") format("svg");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* devanagari */
@font-face {
  font-family: 'TitilliumText';
  font-style: normal;
  font-weight: 400;
  src: local('TitilliumText'), local('TitilliumText-Regular'),
  url("#{$asset-root}/fonts/TitilliumText-Regular/TitilliumText-Regular.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/TitilliumText-Regular/TitilliumText-Regular.woff") format("woff"),
  url("#{$asset-root}/fonts/TitilliumText-Regular/TitilliumText-Regular.ttf") format("truetype"),
  url("#{$asset-root}/fonts/TitilliumText-Regular/TitilliumText-Regular.svg#TitilliumText-Regular") format("svg");
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'TitilliumText';
  font-style: normal;
  font-weight: 400;
  src: local('TitilliumText'), local('TitilliumText-Regular'),
  url("#{$asset-root}/fonts/TitilliumText-Regular/TitilliumText-Regular.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/TitilliumText-Regular/TitilliumText-Regular.woff") format("woff"),
  url("#{$asset-root}/fonts/TitilliumText-Regular/TitilliumText-Regular.ttf") format("truetype"),
  url("#{$asset-root}/fonts/TitilliumText-Regular/TitilliumText-Regular.svg#TitilliumText-Regular") format("svg");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'TitilliumText';
  font-style: normal;
  font-weight: 400;
  src: local('TitilliumText'), local('TitilliumText-Regular'),
  url("#{$asset-root}/fonts/TitilliumText-Regular/TitilliumText-Regular.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/TitilliumText-Regular/TitilliumText-Regular.woff") format("woff"),
  url("#{$asset-root}/fonts/TitilliumText-Regular/TitilliumText-Regular.ttf") format("truetype"),
  url("#{$asset-root}/fonts/TitilliumText-Regular/TitilliumText-Regular.svg#TitilliumText-Regular") format("svg");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* devanagari */
@font-face {
  font-family: 'TitilliumText';
  font-style: normal;
  font-weight: 500;
  src: local('TitilliumText Medium'), local('TitilliumText-Medium'),
  url("#{$asset-root}/fonts/TitilliumText-Medium/TitilliumText-Medium.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/TitilliumText-Medium/TitilliumText-Medium.woff") format("woff"),
  url("#{$asset-root}/fonts/TitilliumText-Medium/TitilliumText-Medium.ttf") format("truetype"),
  url("#{$asset-root}/fonts/TitilliumText-Medium/TitilliumText-Medium.svg#TitilliumText-Medium") format("svg");
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'TitilliumText';
  font-style: normal;
  font-weight: 500;
  src: local('TitilliumText Medium'), local('TitilliumText-Medium'),
  url("#{$asset-root}/fonts/TitilliumText-Medium/TitilliumText-Medium.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/TitilliumText-Medium/TitilliumText-Medium.woff") format("woff"),
  url("#{$asset-root}/fonts/TitilliumText-Medium/TitilliumText-Medium.ttf") format("truetype"),
  url("#{$asset-root}/fonts/TitilliumText-Medium/TitilliumText-Medium.svg#TitilliumText-Medium") format("svg");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'TitilliumText';
  font-style: normal;
  font-weight: 500;
  src: local('TitilliumText Medium'), local('TitilliumText-Medium'),
  url("#{$asset-root}/fonts/TitilliumText-Medium/TitilliumText-Medium.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/TitilliumText-Medium/TitilliumText-Medium.woff") format("woff"),
  url("#{$asset-root}/fonts/TitilliumText-Medium/TitilliumText-Medium.ttf") format("truetype"),
  url("#{$asset-root}/fonts/TitilliumText-Medium/TitilliumText-Medium.svg#TitilliumText-Medium") format("svg");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* devanagari */
@font-face {
  font-family: 'TitilliumText';
  font-style: normal;
  font-weight: 700;
  src: local('TitilliumText Bold'), local('TitilliumText-Bold'),
  url("#{$asset-root}/fonts/TitilliumText-Bold/TitilliumText-Bold.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/TitilliumText-Bold/TitilliumText-Bold.woff") format("woff"),
  url("#{$asset-root}/fonts/TitilliumText-Bold/TitilliumText-Bold.ttf") format("truetype"),
  url("#{$asset-root}/fonts/TitilliumText-Bold/TitilliumText-Bold.svg#TitilliumText-Bold") format("svg");
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'TitilliumText';
  font-style: normal;
  font-weight: 700;
  src: local('TitilliumText Bold'), local('TitilliumText-Bold'),
  url("#{$asset-root}/fonts/serviciodigital/TitilliumText-Bold/TitilliumText-Bold.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/serviciodigital/TitilliumText-Bold/TitilliumText-Bold.woff") format("woff"),
  url("#{$asset-root}/fonts/serviciodigital/TitilliumText-Bold/TitilliumText-Bold.ttf") format("truetype"),
  url("#{$asset-root}/fonts/serviciodigital/TitilliumText-Bold/TitilliumText-Bold.svg#TitilliumText-Bold") format("svg");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'TitilliumText';
  font-style: normal;
  font-weight: 700;
  src: local('TitilliumText Bold'), local('TitilliumText-Bold'),
  url("#{$asset-root}/fonts/serviciodigital/TitilliumText-Bold/TitilliumText-Bold.eot?#iefix") format("embedded-opentype"),
  url("#{$asset-root}/fonts/serviciodigital/TitilliumText-Bold/TitilliumText-Bold.woff") format("woff"),
  url("#{$asset-root}/fonts/serviciodigital/TitilliumText-Bold/TitilliumText-Bold.ttf") format("truetype"),
  url("#{$asset-root}/fonts/serviciodigital/TitilliumText-Bold/TitilliumText-Bold.svg#TitilliumText-Bold") format("svg");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
