
@font-face {
  font-family: 'TitilliumText-Regular';
  src: url('TitilliumText-Regular.eot?#iefix') format('embedded-opentype'),  url('TitilliumText-Regular.otf')  format('opentype'),
	     url('TitilliumText-Regular.woff') format('woff'), url('TitilliumText-Regular.ttf')  format('truetype'), url('TitilliumText-Regular.svg#TitilliumText-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
