{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ol class="breadcrumb">
    {% for item in breadcrumb %}
        
        {% if item.url %}
            <li class="breadcrumb-item">
                <a href="{{ item.url }}">
                    {% if loop.first %}
                        <i class="fa fa-home fa-lg" aria-hidden="true"></i>
                    {% endif %}
                    {{ item.text }}
                </a>
            </li>
        {% else %}
            <li class="breadcrumb-item">
                {{ item.text }}
            </li>
        {% endif %}
      
    {% endfor %}
    </ol>
      {% if date_format and date_text %}
          <div class="breadcrumb-date"><strong>{{ date_text }}:</strong> {{ date_format }}</div>
      {% endif %}
  </nav>
{% endif %}
