
@font-face {
  font-family: 'SansationBoldItalic';
  src: url('SansationBoldItalic.eot?#iefix') format('embedded-opentype'),  url('SansationBoldItalic.woff') format('woff'), url('SansationBoldItalic.ttf')  format('truetype'), url('SansationBoldItalic.svg#SansationBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
