
@font-face {
  font-family: 'TitilliumText-ExtraBold';
  src: url('TitilliumText-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('TitilliumText-ExtraBold.otf')  format('opentype'),
	     url('TitilliumText-ExtraBold.woff') format('woff'), url('TitilliumText-ExtraBold.ttf')  format('truetype'), url('TitilliumText-ExtraBold.svg#TitilliumText-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
