
@font-face {
  font-family: 'FagoCo-Italic';
  src: url('FagoCo-Italic.eot?#iefix') format('embedded-opentype'),  url('FagoCo-Italic.otf')  format('opentype'),
	     url('FagoCo-Italic.woff') format('woff'), url('FagoCo-Italic.ttf')  format('truetype'), url('FagoCo-Italic.svg#FagoCo-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
