
@font-face {
  font-family: 'SansationLightItalic';
  src: url('SansationLightItalic.eot?#iefix') format('embedded-opentype'),  url('SansationLightItalic.woff') format('woff'), url('SansationLightItalic.ttf')  format('truetype'), url('SansationLightItalic.svg#SansationLightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
