{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}

  {% if site_logo %}
      <div class="d-inline-block">
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" class="logo-img"/>
      {% if site_logo_two  %}
          <img src="{{ site_logo_two }}" alt="{{ 'Home'|t }}" class="logo-front-style logo-img"/>
      {% endif %}
      {% if site_logo_three %}
          <img src="{{ site_logo_three }}" alt="{{ 'Home'|t }}" class="logo-front-style logo-img logo-three"/>
      {% endif %}
      </div>
  {% endif %}
  <div class="logo">
    {% if site_slogan %}
        <div class="site-name logo-title">
           {{ site_slogan }}
        </div>
    {% endif %}
    {% if site_name %}
        <div class="site-slogan logo-description">
            {% if site_name_two %}
                <div class="text-front-style">{{ site_name_two }}</div>
            {% endif %}
            <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home"> {{ site_name }}</a>
        </div>
    {% endif %}
    {% if site_slogan %}
        <div class="site-name logo-title">
            {{ site_slogan }}
        </div>
    {% endif %}
  </div>

{% endblock %}
