.p-box-footer {
  height: 160px;
  box-sizing: border-box;
}
.p-box-footer-2 {
  height: 70px;
  box-sizing: border-box;

  a {
    color: lighten($warning, 15%);
  }
}

.p-box-phone {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 300;

  span {
    font-size: 1rem;
    margin-left: 8px;
  }
}
.p-box-comentarios {
  color: $colorMenu;
  padding: 0 10px;
  font-weight: 300;
  display: flex;
  align-items: center;

  h3 {
    font-size: .9rem;
    font-weight: 600;
  }
  h3, p {
    margin: 0;
  }
  p {
    font-size: .75rem;
  }

  .p-box-avatar {
    max-width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #666666;
    margin: 0 auto;
  }
}

.p-box-porcentajes {
  color: $colorMenu;
  font-weight: 300;

  h3 {
    margin: 0;
    text-align: center;
    padding: 10px 0 5px 0px;
    line-height: 1rem;
    font-weight: 600;
    font-size: 1.1rem;

    span {
      font-size: .7rem;
      font-weight: 300;
    }
  }
  .p-box-number {
    font-size: 3rem;
  }
  .p-box-text {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  .p-box-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;
    }
  }
  .p-box-item {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    padding: 0 15px;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      height: 60px;
      border-right: 1px solid $colorMenu;
    }
    &:last-child::before {
      display: none;
    }
  }
}

.p-box-details {
  text-align: right;
  font-weight: 300;
  padding: 8px 10px 0;

  h3, p {
    font-weight: 300;
    margin: 0;
    font-size: 1.17em;
  }
  p {
    font-size: .75rem;
  }
}

.bg-solid-cyan {
  background-color: #00a89c;
}
.bg-solid-yellow {
  background-color: #f49e07;
}
.bg-solid-gray {
  background-color: #666666;
}
.bg-solid-blue {
  background-color: #467795;
}
.bg-solid-cyan,
.bg-solid-yellow,
.bg-solid-gray,
.bg-solid-blue {
  color: $colorMenu;
}


@media (max-width: 768px) {
  .p-box-porcentajes {
    .p-box-item {
      padding: 15px;

      &::before {
        right: initial;
        top: initial;
        bottom: 0;
        height: 1px;
        width: 100px;
        left: 50%;
        transform: translateX(-50%);
        border: none;
        border-bottom: 1px solid $colorMenu;
      }
    }
  }
  .p-box-footer {
    height: auto;
  }
  .p-box-details {
    text-align: center;
  }
  .p-box-comment {
    margin: 15px 0;
  }
  .p-box-avatar {
    margin-top: 15px;
  }
  .p-box-phone {
    padding: 0 15px;
  }
}
@media (min-width: 768px) {
  .p-box-comment {
    margin-bottom: 10px;
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}