.layout-header {
  .block-language, .block-search {
    .dropdown-toggle {
      color: #fff;
      opacity: .9;
      padding: 1em 1.5em;
      &:hover {
        opacity: 1;
        color: #fff;
      }
    }
    .dropdown-menu {
      background-color: transparent;
      border: 1px solid #eeeeee;
      border-radius: 0;


      li {
        display: flex;
        a {
          color: #fff;
          padding: 1em 1.5em;
          width: 100%;
          text-decoration: none;
          opacity: .8;
          &:hover {
            opacity: 1;
            color: #fff;
          }
        }
      }
    }
  }
  .block-language {
     position: relative;
    .dropdown-toggle {
      &:after {
        content: "";
        height: 6px;
        margin-left: 0.355em;

      }
    }
  }
  .block-search {
    li {
      width: 25em;
    }
    .dropdown-toggle {
      padding: 1em 0.4em;
      &:after {
        border: 0;
      }
    }
  }

  .block-menu {
    .menu {
      list-style: none;
      margin: 0;
      white-space: nowrap;
      height: 100%;
      a {
        color: #fff;
        text-decoration: none;
        &:after {
          content: "";
          display: inline-block;
          height: 100%;
          vertical-align: middle;
        }
      }
    }
  }

}