
.starrating {
  > label {
    color: #222222;
    margin-bottom: 0;
    &:before {
      content: "\f005";
      margin: 2px;
      font-family: FontAwesome;
    }
  }

  > input {
    display: none;
    &:checked ~ label {
      color: #ffca08;
    }

    &:hover ~ label {
      color: #ffca08;
    }
  }

  > span {
    margin-right: 5px;
  }
}