
@font-face {
  font-family: 'TitilliumText-Medium';
  src: url('TitilliumText-Medium.eot?#iefix') format('embedded-opentype'),  url('TitilliumText-Medium.otf')  format('opentype'),
	     url('TitilliumText-Medium.woff') format('woff'), url('TitilliumText-Medium.ttf')  format('truetype'), url('TitilliumText-Medium.svg#TitilliumText-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
