
@font-face {
  font-family: 'SansationBold';
  src: url('SansationBold.eot?#iefix') format('embedded-opentype'),  url('SansationBold.woff') format('woff'), url('SansationBold.ttf')  format('truetype'), url('SansationBold.svg#SansationBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
