{#
/**
 * @file
 * Default theme implementation to display a one-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{% if content %}
  {% if settings.title_text %}
     <{{ settings.title_element }} class="{{ settings.title_classes }}">{{ settings.title_text }}</{{ settings.title_element }}>
  {% endif %}
  <div{{ attributes.addClass('row', 'no-padding') }}>
    <div {{ region_attributes.content.addClass('layout__region', 'col-md-12', 'layout__region--content') }}>
      {{ content.content }}
    </div>
  </div>
{% endif %}
