
@font-face {
  font-family: 'SansationItalic';
  src: url('SansationItalic.eot?#iefix') format('embedded-opentype'),  url('SansationItalic.woff') format('woff'), url('SansationItalic.ttf')  format('truetype'), url('SansationItalic.svg#SansationItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
