
@font-face {
  font-family: 'SansationLight';
  src: url('SansationLight.eot?#iefix') format('embedded-opentype'),  url('SansationLight.woff') format('woff'), url('SansationLight.ttf')  format('truetype'), url('SansationLight.svg#SansationLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
